* {
    box-sizing: border-box;
}
body {
    margin: none;
}
main {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: none;
    background-color: azure;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

#card {
    /* background-color: red; */
    /* padding: 7rem; */
    margin: 0px 1rem;
}
#formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0px ;
}
.form {
    width: 50%;
    height: 100px;
    border: 3px solid green;
    display: flex;
    flex-wrap: wrap;

}

#results {
    display: none;
    border: 1px solid black;
    border-top-width: 0;
    width: 220px;
}

.highlightedmovies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
